@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.containerr{
    padding:15px 9%;
    padding-bottom: 100px;
}

.containerr .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.containerr .box-containerr{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.containerr .box-containerr .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: black;
    text-align: center;
    padding:30px 20px;
}

.containerr .box-containerr .box img{
    height: 215px;
}

.containerr .box-containerr .box h3{
    color: white;
    font-size: 22px;
    padding:10px 0;
}

.containerr .box-containerr .box p{
    color: white;
    font-size: 15px;
    line-height: 1.8;
}

.containerr .box-containerr .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.containerr .box-containerr .box .btn:hover{
    letter-spacing: 1px;
}

.containerr .box-containerr .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .containerr{
        padding:20px;
    }
}